configuration {
 modi: "drun,combi,run,filebrowser";
 font: "JetBrains Mono SemiBold 10";
 combi-modi: "window,drun,ssh,run";
 show-icons: true;
 sidebar-mode: true;
 }
@theme "~/.config/rofi/themes/rounded-yellow-dark.rasi"
